<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <script src="https://unpkg.com/typeit@8.8.7/dist/index.umd.js"></script>
    <script src="script/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><h1 style="font-size: 32px;">Profile</h1></li>
                <li><img src="/img/img.jpg" alt="증명사진" style="width: 200px;"></li><br>
                <li><span class="material-symbols-outlined">person</span>안정민</li>
                <li><span class="material-symbols-outlined">cake</span>1999.11.09</li>
                <li><span class="material-symbols-outlined">location_on</span>경상남도 김해시</li>
                <li><span class="material-symbols-outlined">mail</span>puppy4732@naver.com</li>
                <li><span class="material-symbols-outlined">call</span>010-4548-1465</li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="first">
            <h1 id="typeit"></h1>
        </div>
        <div id="second">
            <!-- <h3 id="typeit2"></h3> -->
            <p>
                웹 백엔드/풀스택 개발자를 희망하는 안정민입니다.<br>
                JAVA기반 풀스택 웹개발 교육과 빅데이터 기반 JAVA 개발자 교육을 이수했습니다.<br>
                다양한 경험과 학습으로 매일매일 성장하는 개발자가 되고싶습니다!
            </p>
        </div>
        <div class="content">
            <div class="card">
                <hr>
                <div class="text">
                    <h2>기술스택</h2>
                    <div class="stack">
                        <h4>Languages</h4>
                        <div class="skill">
                            <div class="skill_icon"><i class="devicon-java-plain">&nbsp;Java</i></div>
                            <div class="skill_icon"><i class="devicon-python-plain">&nbsp;Python</i></div>
                            <div class="skill_icon"><i class="devicon-html5-plain">&nbsp;HTML</i></div>
                            <div class="skill_icon"><i class="devicon-css3-plain">&nbsp;CSS</i></div>
                            <div class="skill_icon"><i class="devicon-javascript-plain">&nbsp;JS</i></div>
                        </div>
                        <h4>Frameworks</h4>
                        <div class="skill">
                            <div class="skill_icon"><i class="devicon-spring-original">&nbsp;SpringBoot</i></div>
                        </div>
                        <h4>Databases</h4>
                        <div class="skill">
                            <div class="skill_icon"><i class="devicon-oracle-original">&nbsp;Oracle</i></div>
                            <div class="skill_icon"><i class="devicon-mysql-original">&nbsp;MySql</i></div>
                        </div>
                        <h4>Tools & Others</h4>
                        <div class="skill">
                            <div class="skill_icon"><i class="devicon-github-original">&nbsp;GitHub</i></div>
                            <div class="skill_icon"><i class="devicon-docker-plain">&nbsp;Docker</i></div>
                            <div class="skill_icon"><i class="devicon-maven-plain">&nbsp;Maven</i></div>
                            <div class="skill_icon"><i class="devicon-gradle-plain">&nbsp;Gradle</i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <hr>
                <div class="text">
                    <h2>교육</h2>
                    <div class="edu">
                        <h2>경상국립대학교 정보통신공학과 졸업</h2>
                        <div class="edu_a">2018.03 ~ 2023.02</div><br>
                        <div class="edu_info">
                            응용프로그래밍, 데이터베이스, 소프트웨어 개발론, 캡스톤 디자인 등의 전공 수업을 들으며 프로그래밍 기술 향상
                        </div>
                    </div>
                    <div class="edu">
                        <h2>자바 풀스택 개발자 양성 교육</h2>
                        <div class="edu_a">신촌 이젠아카데미 | 2023.03 ~ 2023.08</div><br>
                        <div class="edu_info">
                            Java 기초 및 응용 / HTML, CSS, Javascript 를 활용한 화면구현 / Oracle, MySQL을 이용한 DB 관리<br>
                            위 기술들과 JSP, Servlet을 활용한 MVC2 패턴 프로젝트 구현
                        </div>
                    </div>
                    <div class="edu">
                        <h2>빅데이터 기반 자바 개발자 양성 교육</h2>
                        <div class="edu_a">부경대학교 지역산업맞춤형 인력양성사업단 | 2025.02 ~ ing</div><br>
                        <div class="edu_info">
                            HTML5/CSS3을 활용한 화면 설계, JavaScript/JQuery 활용, Oracle 데이터 베이스, Java프로그래밍, JSP, Spring, Python, Docker
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <hr>
                <div class="text">
                    <h2>수상</h2>
                    <div class="edu">
                        <h2>빅데이터 창업동아리 최종보고회 최우수상</h2>
                        <div class="edu_a">경상국립대학교 빅데이터 혁신공유대학 사업단 | 2022.11.30</div>
                        <div class="edu_info">
                            Intel에서 제공하는 OpenBot 기술을 이용하여 `시각장애인을위한 자율주행 쇼핑카트` 구현 프로젝트를 진행함.<br>
                            OpenBot 기술은 스마트폰과 로봇을 결합시켜 로봇에 대한 보다 높은 접근성과 확장성을 목표로 만들어진 기술.<br>
                            이 기술을 쇼핑카트와 접목시켜 쇼핑에 불편함을 겪는 취약층들에게 편의를 제공하고자 함.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <hr>
                <div class="text">
                    <h2>프로젝트</h2>
                    <div class="project">
                        <div class="pcard" data-tooltip="카드 클릭시 깃허브 링크로 이동">
                            <a href="https://github.com/Hyunilll/AmusementParkk" target="_blank">
                                <p>놀이공원 홈페이지</p>
                                <div class="p_day">
                                    신촌 이젠아카데미 (팀 프로젝트) | 2023.05 ~ 2023.06 (2주)
                                </div><br>
                                <!-- <div class="p_git"><a href="https://github.com/Hyunilll/AmusementParkk" target="_blank">GitHub</a></div> -->
                                <div class="p_info">
                                    예매가 가능한 놀이공원 홈페이지를 MVC2 구조로 구현
                                </div>
                                <div class="p_my">
                                    맡은 부분
                                </div>
                            </a>
                        </div>
                        <div class="pcard" data-tooltip="카드 클릭시 깃허브 링크로 이동">
                            <a href="https://github.com/BSEom/miniP_kiosk" target="_blank">
                                <p>카페 키오스크</p>
                                <div class="p_day">
                                    부경대학교 (팀 프로젝트) | 2025.03.24 ~ 2025.03.31 (1주)
                                </div><br>
                                <div class="p_info">
                                    PyQt를 활용하여 음료 주문이 가능한 카페 키오스크 구현
                                </div>
                                <div class="p_my">
                                    맡은 부분<br>
                                    - 사용자 페이지
                                </div>
                            </a>
                        </div>
                        <div class="pcard" data-tooltip="카드 클릭시 깃허브 링크로 이동">
                            <a href="https://github.com/jungmin9911/project1_pknu" target="_blank">
                                <p>투두리스트 홈페이지</p>
                                <div class="p_day">
                                    부경대학교 (개인 프로젝트) | 2025.05.26 ~ (진행중)
                                </div><br>
                                <div class="p_info">
                                    JSP를 활용한 투두리스트 홈페이지
                                </div>
                                <div class="p_my">
                                    맡은 부분
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tooltip" id="tooltip">dd</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>